body {
	display: flex; 
	justify-content: center; 	/* Div is centered Horizontal  */
	align-items: center; 		/* Div is centered vertically*/
	height: 100vh; 			/* Ensure the body takes full height of the viewport */
	background: url("../images/bg.jpg") no-repeat center center/cover;
}
.logincontainer {
	display: flex;
 	flex-direction: column; 	/* vertically arrange element*/
	width: 50%; 			/* 50% width of parent */
	max-width: 400px;
	gap: 10px; 			/* 10px space between items*/
	background: transparent;
    padding: 20px;
	border: 2px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(20px);
}
.white-text {
	color: white;
}
input,
button {
	height: 35px;
	border-radius: 5px;
}